body {

    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(29,48,75,1) 50%, rgba(0,0,0,1) 100%);
    color: white;
    overflow-y: hidden;

  }

  .navbar-brand {
    color: rgb(112, 175, 227);
  }
  
  .quote-container {
    padding: 50px;
  }